/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Set the width if it is with a input group addon which are 40px wide*/
.input-group input,
.input-group select,
.input-group textarea {
    max-width: 240px;
}

/* My Styles*/

/* Hide things due to size*/

    .search-results-header{
        display: none;
    }

    .searchbar{
        display: none;
    }

.inverse-dropdown {
    background-color: #222;
    border-color: #080808;
    }

.inverse-dropdown > li > a {
        color: #999;
    }

.inverse-dropdown >li > a:hover{
    color: #fff;
    background-color: #000;    
    }

.inverse-dropdown.divider {
    background-color: #000; 
}

@media (min-width: 768px) 
{   
    .search-results-header, .collections-list-header{
        display: block;
    }

}

@media (min-width: 992px)
{
    .searchbar{
        display: initial;
    }
}


.banner.jumbotron {
    padding: 15px;
}

@media (min-width: 768px) 
{
    .banner.jumbotron{
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.bannerimage img{
    width: 100%;
}

body {
    background-color: #1e2b37;
    color: #979797;
    padding-top: 50px;
}

@media (max-width: 992px) {
    body {
        /*padding-top: 0px;*/
    }
}

.input-group-addon{
    width: 40px;
}

.input-group{
    width: 100%;
}

.jumbotron {
    background-color: black;
}

li.list-group-item.mission, .search-result, .my-missions-result, .author, li.list-group-item.update, .collection-mission{
    border: none;
    border-top: 1px gray solid;
    background-color: #001;
}

.random-mission-image, .about{
    background-color: #001;
    padding: 1em;
    border-radius: 4px;
}

 .about{
     height: 121px;
 }

.random-mission-image figure img{
    height: 93px;
}

.random-mission-image figure, .random-mission-image p{
     display: inline-block;
}

.home-update-list{
    max-height: 125px;
    overflow-y: scroll;
}


footer#pagefooter {
    margin-top: 2em;
    font-size: 80%;
}

span.Federation {
    color: #3333CC;
}

li.minornavbutton {
    font-size: 75%;
}

    .minornavtext{
         line-height:20px;
    }


@media (max-width: 768px) 
{
    .minornavtext{
         display: none;
    }
}



/* Submit mission */

form.mission-data input,
form.mission-data select,
form.mission-data textarea 
{
    max-width: 100%;
}

.body-content {
    /*background-color: #000001;*/
    /*display :inline;*/

}

input.upload-export{
    padding-bottom: 1em;
}

input.crypticid{
    text-transform: uppercase;
}

form.mission-data {
    /*background-color: #F0F0F0;*/
    padding: 1em;
    max-width: 100%;
}

.mission-data {
   padding: 1em;
}

#submit-mission-image-list input{
    
    display: inline;
}

#submit-mission-video-list input{
    
    display: inline;
}

.submit-mission-video{
    width: 95%;
}


form.advanced-search input,
form.advanced-search select
{
    max-width: 100%;
}

.advanced-search {
    background-color: #F0F0F0;
    padding: 1em;
}

input#lastupdate {
    width: 173px;
}

.gameplay-tags {
    max-height: 300px;
    overflow-y: scroll;
}


/* Mission Details */

/* extra small devices */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

.mission-status{
    color:red;
    text-align: center;
}

.mission-author { 
    display: inline-block; 
    margin-top:0px;
    font-size: large;
}

.mission-header{
    color: #E8E8E8;
    position: relative;
}

.mission-header header{
}

.mission-restrictions {
   padding-top: 1em;
   padding-bottom: 1em;

}

@media (min-width: 768px) {
    .mission-restrictions {
        text-align: right;
    }
    .mission-restrictions img{
        padding-bottom: 1em;
    }
}

.missioninfo {
    padding-top : 20px;
    font-weight: bold;
}

@media (min-width: 992px){
    .missioninfo {
        padding-top : 0;
    }
}


.mission-images{
    margin-top: 1em;
}

.mission-images{
    height: 125px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.mission-images-row{
    border-radius: 10px;
    border: 1px solid #191928;
    overflow: hidden;
    background-color: #191928;
    margin-left: 1px;
    margin-right: 1px;
}

.mission-video, .mission-image{
    position: relative;
    display: inline-block;
    margin-right: 1em;
}

.youtube-play-button{
    position:absolute;
    top: 0px;
    left: 0px;
}

.mission-video img, .mission-image img {
    height: 100px;
}

.mission-tags{
    text-align: center;
    color: #E8E8E8;
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    overflow: hidden;
}

.mission-tag-image {
    
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 1em;
}

.mission-tag-image img {
    height: 50px;
}

.mission-tag-header {
    background-color: #1e2b37;
    margin: 0px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.mission-description-header, .collection-description-header, .collection-mission-list-header {
    background-color: #1e2b37;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: .5em;

}

.mission-description, .collection-description, .collection-mission-list{
    color: #E8E8E8;
    border-radius: 10px;
    border: solid 1px;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
}


 

.mission-description p, .collection-description p{
    padding: .5em;
}


.content {
    background-color: #001;
}

h2.tab-header {
    padding: 10px;
    margin: 0;
}

/* Search Results */

.search-result, .search-results-header, .my-missions-header, .my-missions-result, .authors-header, .author, .collection-mission{
    padding: .5em;
}

.search-results-header, .my-missions-header, .authors-header,   .collections-list-header{
    font-weight : bold;
}

.paging{
    text-align: right;
}

.paging-item{
    display: inline;
 
}

form.paging-item input{
    padding: 0 1px 0 1px;  
}

/* Control Panel */
.control-panel-pane
{
    padding: 1em;
}

.my-missions-result {
    overflow: hidden;
}

.manage-account-tabs > li > a {
    color :#999999;
}

/* Collections */

.collections-header{
    position:relative;
}

.collections-sort{

    position:absolute;
    right:0;
    top: 20px;
    display: none;
}

figure.list-collection-image img{
    max-width: 250px;
    padding-right: 2em;
    float: left;
}

.collections-search{
    display: inline;
}

.collections-search input{
    display: inline-block;
}

.collection-image img{
    float: left;
    max-width: 300px;
    margin : 1em;
}


 .collection-mission-list
 {
    background-color: #1e2b37;
 }

  .collections-list-header, .collection-mission{
      color: #979797;
  }