body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Set the width if it is with a input group addon which are 40px wide*/
.input-group input,
.input-group select,
.input-group textarea {
    max-width: 240px;
}

/* My Styles*/

/* Hide things due to size*/

    .search-results-header{
        display: none;
    }

    .searchbar{
        display: none;
    }


@media (min-width: 768px) 
{   
    .search-results-header{
        display: block;
    }

}

@media (min-width: 992px)
{
    .searchbar{
        display: initial;
    }
}

/* have to do this after*/
@media (max-width: 768px) 
{
    .jumbotron{
        display: none;
    }
}

body {
    background-color: #1e2b37;
    color: #979797;
    padding-top: 50px;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}

.input-group-addon{
    width: 40px;
}

.input-group{
    width: 100%;
}

.jumbotron {
    background-color: black;
}


nav.navbar {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #001;
}

li.list-group-item.mission, .search-result{
    border: none;
    border-top: 1px gray solid;
    background-color: #001;
}

footer#pagefooter {
    margin-top: 2em;
    font-size: 80%;
}

span.Federation {
    color: #3333CC;
}

li.minornavbutton {
    font-size: 75%;
}

/* Submit mission */

form.missiondata input,
form.missiondata select,
form.missiondata textarea 
{
    max-width: 100%;
}

input.crypticid{
    text-transform: uppercase;
}

form.missiondata {
    background-color: #F0F0F0;
    padding: 1em;
    max-width: 100%;
}

input#lastupdate {
    width: 173px;
}

ul.gameplay-tags {
    max-height: 300px;
    overflow-y: scroll;
}


/* Mission Details */

/* extra small devices */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

.missioninfo {
    font-weight: bold;
}

.missioninfo > h3 { 
    display: inline-block; 
    margin-top:0px;
}

.mission-header{
    color: #E8E8E8;
    position: relative;
}

.mission-restrictions {
    top: 1em;
}

@media (min-width: 768px) {
    .mission-restrictions{
        text-align: right;
    }
}

.mission-images{
    margin-bottom: 1em;
}

.mission-images{
    height: 125px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.mission-video, .mission-image{
    position: relative;
    display: inline-block;
    margin-right: 1em;
}

.mission-video img, .mission-image img {
    height: 100px;
}

.mission-tags{
    text-align: center;
    color: #E8E8E8;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 1em;
    width: 100%;
    overflow: hidden;
}

.mission-tag-image {
    
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 1em;
}

.mission-tag-image img {
    height: 50px;
}

.mission-tag-header {
    background-color: #1e2b37;
    margin: 0px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.mission-description-header {
    background-color: #1e2b37;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: .5em;

}

.missiondescription{
    color: #E8E8E8;
    border-radius: 10px;
    border: solid 1px;
    margin-bottom: 1em;
    overflow: hidden;
}

.missiondescription p{
    padding: .5em;
}


.content {
    background-color: #001;
}

/* Search Results */

.search-result, .search-results-header{
    padding: .5em;
}

.search-results-header{
    font-weight : bold;
}